
.fBody {

    text-align: center;
    padding: 3em;
    border: 0px solid #d3d3d3;
    border-radius: 1.5em;

    color:#9cdcfe;
    background-color: #332455;
    box-shadow:5px 10px 60px 1px #121212;
    margin-top: 15vh;

}
.img {
    width: auto;
    height: 70px;
}
