body {
  margin-left: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Proxima Nova Rg", serif;
  color: #2a2438;
  font-size: 50px;
  padding: 10px;
  background-color: #2a2438;
}
h2 {
  text-align: center;
  color: white;
  font-family: "Proxima Nova Rg", serif;
  font-size: 35px;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
