.myCardStyle {

    overflow: scroll;
    background-color: #272a3d;
    color:#272a3d;
    max-height:80.5vh;
    border-color: #272a3d;
    box-shadow:2px 2px 10px 0.01px #121212;
}
.myForm {
    background-color:#272a3d;
    padding:2vh;
}
.myTable {
    padding: 2vh;
}
